.wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.019em;
    color: #000000;
    .detail-product {
        display: flex;
        flex-direction: column;
        .product-name {
            display: flex;
            flex-direction: row;
            h3 {
                margin-right: 10px;
                margin-bottom: 25px;
            }
        }
        .detail {
            margin-bottom: 25px;
        }
    }
    .salient-features {
        margin-top: 30px;
        li {
            margin-left: 50px;
            margin-top: 20px;
        }
    }
}
