.form {
    width: 100%;
    input {
        border: 1px solid #6e5544;
        border-radius: 8px;
        height: 48px;
    }
    .user_name {
        display: flex;
        .input_name {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            width: 90%;
            padding: 10px;
        }
    }
    .input_account {
        margin-top: 30px;
        width: 96%;
        padding: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .checked_promotion {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #272727;
        letter-spacing: -0.019em;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .checkbox {
            margin-right: 14px;
            width: 19px;
            height: 19px;
            border: 4px solid #0a0606;
        }
    }
    .checked_policy {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #272727;
        letter-spacing: -0.019em;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        .checkbox {
            margin-right: 14px;
            width: 24px;
            height: 24px;
            border: 4px solid #0a0606;
        }
        .primary_text {
            color: #b78d71;
        }
    }
    .btn-submit {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 46px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        outline: none;
        border: none;
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
            ),
            #251c17;
        border-radius: 8px;

        &:hover {
            cursor: pointer;
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0)
                ),
                #faf7f6;
            border: 1px solid rgb(15, 4, 4);
            color: #0a0606;
        }
    }
    .text_footer {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.019em;
        color: #000000;
        margin-top: 35px;
        .login_btn {
            color: #b78d71;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
        }
    }
}
