.wrapper {
    background: #fff9f6;
    width: 90%;
    height: 200px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    .policy {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;
        .head {
            width: 30%;
            color: #000000;
            font-family: "Montserrat";
            font-style: normal;

            h2 {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -0.019em;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.019em;
            }
        }
        .table-content {
            border: 1px solid black;
            width: 70%;
            display: flex;
            flex-direction: row;
            .content {
                width: 50%;
                .content-head {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.019em;
                    color: #6e5544;
                }
                div {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.019em;
                    color: #272727;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10px;
                    width: 100%;
                    height: 44px;
                    background: #ffffff;
                    border: 1px solid black;
                }
            }
            .time {
                width: 50%;
                .time-head {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.019em;
                    color: #6e5544;
                }
                div {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.019em;
                    color: #272727;

                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10px;
                    width: 100%;
                    height: 44px;
                    background: #ffffff;
                }
            }
        }
    }
    .expense {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;
        .head {
            width: 30%;
            color: #000000;
            font-family: "Montserrat";
            font-style: normal;
            h2 {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -0.019em;
            }
        }
        .table-content {
            border: 1px solid black;
            width: 70%;
            display: flex;
            flex-direction: row;
            .content {
                width: 50%;
                .content-head {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.019em;
                    color: #6e5544;
                }
                div {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.019em;
                    color: #272727;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10px;
                    width: 100%;
                    height: 44px;
                    background: #ffffff;
                    border: 1px solid black;
                }
            }
            .time {
                width: 50%;
                .time-head {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.019em;
                    color: #6e5544;
                }
                div {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.019em;
                    color: #272727;

                    border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10px;
                    width: 100%;
                    height: 44px;
                    background: #ffffff;
                }
            }
        }
    }
    .note {
        .note-head {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.019em;
            color: #000000;
            margin-bottom: 20px;
        }
        .note-text {
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.019em;
                color: #000000;
            }
        }
    }
}
