.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 506px;
  background: #fff9f6;
  margin-top: 100px;
  padding-top: 20px;
  .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: 160px;
      border-bottom: 1px solid #6e5544;
      .promotion {
        width: 50%;
        .register-promotion {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.019em;
          color: #272727;
          margin-bottom: 20px;
        }

        .input {
          align-items: center;
          width: 75%;
          position: relative;

          .input-text {
            width: 90%;
            padding: 12px 16px;
            border: 1px solid #6e5544;
            border-radius: 8px;
          }
          .arrow-right-icon {
            position: absolute;
            right: 12%;
            top: 10px;
          }
        }
      }

      .social {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .social-conect {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.019em;
          color: #272727;
          margin-bottom: 20px;
        }

        .social-list {
          .icon-social {
            margin-left: 24px;
            opacity: 0.7;
            &:hover {
              cursor: pointer;
              opacity: 1;
              scale: 1.1;
              transition: 0.8s;
            }
          }
        }
      }
    }
    .footer-contain {
      display: flex;
      flex-direction: row;
      .info-miki {
        width: 30%;
        .logo-name {
          margin-top: 39px;
          margin-bottom: 15px;
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
          text-transform: uppercase;
          color: #272727;
        }
        p {
          margin-top: 5px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: -0.019em;
          color: #272727;
        }
      }
      .service {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .service-list {
          display: flex;
          flex-direction: column;
          margin-top: 47px;
          h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: -0.019em;
            color: #272727;
            margin-bottom: 30px;
          }
          a {
            margin-bottom: 23px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: -0.019em;
            color: #272727;
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .miki-logo {
      position: relative;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.019em;
      color: #301c13;
    }
  }
}
